<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-back-button color="dark" text="" icon="chevron-down-outline"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header> 

<ion-content>
    <div class="headerimg">
        <img src="../../assets/page3/podcastbutton.png">
    </div> 
     
    <div class="infosBox">
        <p>Temps restant: {{ restTime }}</p> 
        <ion-range (click)="changePosition()" min="0" [max]="audioDuration" [(ngModel)]="currentPosition" mode="md" color="dark"></ion-range>
        <p><b>Podcast 1</b></p>
        
        <div class="flexbox">
            <ion-button fill="clear">
                <ion-icon color="dark" slot="icon-only" name="play-back"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="light" (click)="playPause()"> 
                <ion-icon slot="icon-only" color="dark" [name]="playIcon"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
               <ion-icon color="dark" slot="icon-only" name="play-forward"></ion-icon> 
            </ion-button>
        </div>
        <div style="text-align: center;"> 
            <ion-button fill="clear" color="medium" routerLink="/chapter">  
                <ion-icon color="medium" slot="icon-only" name="list-circle-outline"></ion-icon>
                <p>Chapitres</p>
            </ion-button>
        </div>
    </div>
</ion-content>
