ion-content {
    --ion-background-color: #dcdcdc;   
}

.bgImg {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/page3/BG.png"); 
    background-repeat: no-repeat;
    background-size: contain; 
}

ion-button { 
    height: 80px; 
    width: 80px;   
}  

.podcastTitle{
    text-align: center;
}

.podcastBox {
    border-radius: 20px; 
    min-height: 700px; 
    background-color: white;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 0px !important; 
}

.podcastgrid {
    margin-right: 20px;
    margin-left: 20px; 
}

.podcastimg {
    height: 140px; 
    width: 150px;  
}

.buttonBox {
    margin-top: -140px; 
    text-align: center; 
}

.buttonBox p {
    color: white;
    margin-top: -15px; 
}

.playbutton {
    height: 100px;
    width: 100px; 
}



