ion-item {
    --ion-background-color: white; 
    border-radius: 20px; 
}

.bgImg {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/page1/bg.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
}

.logo {
    margin-top: 50px; 
    text-align: center; 
}

.logo img {
    height: 140px; 
}

.inputBox {
    margin-top: 170px;
    margin-right: 40px;
    margin-left: 40px; 
}

.loginButton {
    text-align: center; 
}
