<ion-content>
    <div class="bgImg">
        <div class="logo">
            <img src="assets/page1/ceologo.png"> 
        </div>
        <div class="inputBox">
            <ion-item lines="none">
                <ion-input type="mail" [(ngModel)]="loginData.email" placeholder="Adresse Email"></ion-input>
            </ion-item>
            <br>
            <br>
            <ion-item lines="none">
                <ion-input type="password" [(ngModel)]="loginData.password" placeholder="Mot de passe"></ion-input>
            </ion-item>
        </div>
        <br>
        <ion-button (click)="signUp()" fill="clear" expand="block" color="dark">Créer un compte</ion-button>
        <br> 
        <div class="loginButton">
            <ion-button (click)="login()" shape="round" color="dark">Connexion</ion-button> 
        </div>  
    </div> 
</ion-content>
