ion-content {
    --ion-background-color: #c9641c;  
} 

.bgImg {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/page4/BG2.png");    
    background-repeat: no-repeat;
    background-size: contain; 
}

ion-button { 
    height: 80px;  
    width: 80px;   
}  

ion-input.placeholder {
    text-align: center !important;  
}


.pulserTitle{ 
    text-align: center;
}

.inputBox {
    margin-top: 30px; 
}

.inputBox p {
    color: white;
    text-align: center; 
}

ion-item {
    --ion-background-color:transparent ;
}

ion-input {
    background-color: white;
    border-radius: 20px; 
    height: 50px; 
    padding-left: 20px !important; 
}

.addbutton {
    height: 50px;
    width: 50px; 
}

.imagebutton {
    background-color: white;
    border-radius: 20px;  
    height: 50px; 
    padding-left: 20px !important; 
    width: 100%;
}

.imagebutton img {
    margin-right: 10px; 
}

