<ion-content>
    <div class="bgImg">
        
        <br>
        <div class="homeButton">
            <ion-button fill="clear" routerLink="/home">
                <img src="../../assets/page4/home.png">  
            </ion-button>
        </div>
        <br>
        <div class="pulserTitle">
            <img src="../../assets/page4/pulser.png"> 
        </div>
        
        <!-- liste d'input --> 
        
        <div class="inputBox">
            <br>     <!-- 1 -->  
                <p>Pourquoi ?</p>  
        <ion-item lines="none">  
            <ion-input placeholder="Entrez un texte ici"></ion-input>
            <ion-button (click)="picker.open()" slot="end" fill="clear" class="addbutton">
                <img src="../../assets/page4/+.png">   
            </ion-button>
        </ion-item>
        
           <!-- 2 --> 
                <p>Valeur</p> 
        <ion-item lines="none">  
            <ion-input placeholder="Entrez un texte ici"></ion-input>
            <ion-button (click)="picker.open()" slot="end" fill="clear" class="addbutton">
                <img src="../../assets/page4/+.png"> 
            </ion-button>
        </ion-item>
        
           <!-- 3 --> 
                <p>MBTI</p> 
        <ion-item lines="none"> 
            <ion-input placeholder="Entrez un texte ici"></ion-input>
            <ion-button (click)="picker.open()" slot="end" fill="clear" class="addbutton">
                <img src="../../assets/page4/+.png"> 
            </ion-button>
        </ion-item>
        
            <!-- 4 --> 
                <p>Vision Board</p> 
        <ion-item lines="none">   
            <ion-button (click)="addPhoto()" fill="clear" shape="round" class="imagebutton" color="medium"> 
                <img src="../../assets/page4/imagesection2.png">Entrez vos images  
            </ion-button>
            <ion-button (click)="publish()" slot="end" fill="clear" class="addbutton"> 
                <img src="../../assets/page4/+.png"> 
            </ion-button>
        </ion-item>   
         
           <!-- 5 --> 
                <p>Objectifs</p> 
        <ion-item lines="none">  
            <ion-input placeholder="Entrez un texte ici"></ion-input>
            <ion-button (click)="picker.open()" slot="end" fill="clear" class="addbutton">
                <img src="../../assets/page4/+.png"> 
            </ion-button> 
        </ion-item>
        
        
            <br>
        </div>
        
    </div> 
    <ion-datetime color="dark" #picker pickerFormat="h:mm A"></ion-datetime>   
</ion-content>
