<ion-header>
  <ion-toolbar>
    <ion-title>Choisir un forfait</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
<ion-item lines="none">
    <ion-label>Votre forfait :</ion-label> 
    <ion-select placeholder="Select One" value="a">
      <ion-select-option value="a">Mensuel : 7,90€</ion-select-option> 
      <ion-select-option value="b">Trimestriel : 19,90€</ion-select-option>
      <ion-select-option value="c">Annuel : 54,90€</ion-select-option> 
    </ion-select>
</ion-item>
      <div class="stripepay">
      <br>
          <form action="/" method="post" id="payment-form">
        <div class="form-row">
          <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
          <!-- Used to display Element errors -->
          <div id="card-errors" role="alert"></div> 
        </div>
        <br>
        <ion-button (click)="payStripe()" color="dark" expand="full">Effectuer le paiement</ion-button>
      </form>
      </div> 
</ion-content>
