.bgImg {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/page2/Bg.jpg");
    background-repeat: no-repeat; 
    background-size: contain;  
} 

.homeBox p {  
    margin-left: 10px; 
}

.homeBox img {
    height: 25px;  
} 

.contentBox {
    margin-top: 160px;  
}

.pulser {
}

.podcast { 
} 

ion-button {
    border-radius: 20px; 
    height: 150px; 
    width: 150px; 
}  